<div class="box">
		
    <%= link_to (image_tag photo.image(:medium)), photo %>
    <p class="description">
        <%= photo.description %>
    </p>
    <p>
        <strong>
            Posted by <%= photo.user.name %>
        </strong>
    </p>
    <% if current_user == photo.user %>
        <p>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
</div>
